@use "../../assets/util" as *;

.contact {
  width: 100%;
  height: auto;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.contactForm {
  width: 100%;
  padding: 25px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  @include respond-to("small") {
    width: 50%;
  }

  h1 {
    margin: 15px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 80%;
      height: 50px;
      margin-bottom: 25px;
    }

    textarea {
      width: 80%;
      height: 100px;
    }

    button {
      width: 80%;
      height: 50px;
      border: none;
      background-color: rgb(228, 156, 22);
      margin-top: 25px;
    }
  }
}
